.idea
__pycache__/*
SimCLR.zip
*.png
*.svg
*.csv
*.xlsx
*.out
data_prep/__pycache__
BYOL/weights*
BYOL/*.pth
BYOL/__pycache__
BYOL/wandb
BYOL/finetune_BYOL.py
DINOv3/weights*
DINOv3/__pycache__
DINOv3/wandb
supervised
supervised_lab_baseline
supervised_4classes
supervised_3clases
supervised_noSin
nvidia-bug-report.log.gz
nvidia-debugdump-temp2119908.log
