data:
  dataset_root_windows: C:\Users\anaja\OneDrive\Documents\Ecole\TUHH\Semester 6\Masterarbeit\OCT_lab_data # D:\Masterarbeit\OCT_lab_data
  dataset_root_linux: /data/Boudreault/OCT_lab_data_raw
  ds_split: [0.6, 0.15, 0.25]
  labels:
    - chicken_heart
    - chicken_stomach
    - lamb_heart
    - lamb_testicle
    # - lamb_liver
  ascan_per_group: 512 # Baseline: 512
  pre_processing:
    no_noise: True # Baseline: True
    use_movmean: False
    use_speckle: False
    ascan_sampling: 20 # Baseline: 20, Set to 1 for no sampling
  use_mini_dataset: False  # Use only files with speed 8 to limit data storage size
  img_mean: 179.131 # Mini: 179.130, Full: 179.131
  img_std: 21.1 # Mini: 21.09, Full: 21.10
training:
  random_seed: 2625233
SimCLR:
  dataset_name: oct  # [stl10, cifar10, cifar100]
  dataset_path_windows: C:\Users\anaja\OneDrive\Documents\Ecole\TUHH\Semester 6\Masterarbeit
  dataset_path_linux: /data/Boudreault
  dataset_path_hpc: /usertemp/mts/cab8351
  img_channel: 1
  sample_within_image: -1 # Set to -1 for no sampling
  img_reshape: 480
  use_iipp: True
  num_same_area: 2 # Minimum number of images from the same area that will be used within a batch with iipp
  use_simclr_augmentations: False # If true, use the SimCLR paper transforms. Else, use OCT recommended transforms
  dataset_sample: 1  # Sample of the entire dataset
  arch: resnet18 # resnet18, resnet50, vitb16, efficientnetV2s, swinv2t, convnextt, pvtv2b0
  use_pretrained: True
  num_workers: 0
  max_epochs: 200
  batch_size: 16 # 256 # Must be a multiple of num_same_area if iipp is used
  lr: 0.0003
  weight_decay: 0.0001
  disable_cuda: False
  fp16_precision: False
  log_every_n_steps: 2000 # Print update every x batch
  temperature: 0.07 # 0.07 in paper, but 0.5 is often used in code samples
  gpu_index: 0
  patience: 10
BYOL:
  dataset_name: oct  # [stl10, cifar10, cifar100]
  dataset_path_windows: C:\Users\anaja\OneDrive\Documents\Ecole\TUHH\Semester 6\Masterarbeit
  dataset_path_linux: /data/Boudreault
  dataset_path_hpc: /usertemp/mts/cab8351
  img_channel: 1
  sample_within_image: -1
  img_reshape: 480 # 480, 224 for ViT
  use_iipp: True
  dataset_sample: 1 # 0.25  # Sample of the entire dataset
  arch: efficientnetb3 # resnet18, resnet50, vitb16, efficientnetV2s, efficientnetb3, swinv2t, convnextt, pvtv2b0
  use_pretrained: True
  num_workers: 0
  max_epochs: 500
  batch_size: 128
  lr: 0.0003
  disable_cuda: False
  gpu_index: 0
  patience: 20
finetune:
  dataset_name: oct_clinical  # [stl10, cifar10, cifar100]
  dataset_path_windows: X:\Boudreault # C:\Users\anaja\OneDrive\Documents\Ecole\TUHH\Semester 6\Masterarbeit
  dataset_path_linux: /data/Boudreault
  dataset_path_hpc: /usertemp/mts/cab8351
  img_channel: 1
  sample_within_image: -1
  img_reshape: 480 # 480, 224 for ViT
  use_iipp: True
  dataset_sample: 1 # 0.25  # Sample of the entire dataset
  approach: byol # simclr, byol
  arch: resnet18 # resnet18, resnet50, vitb16, efficientnetV2s, efficientnetb3, swinv2t, convnextt, pvtv2b0
  num_workers: 0
  max_epochs: 1 # 500
  batch_size: 16
  lr: 0.00005
  disable_cuda: False
  gpu_index: 0
  patience: 1
wandb:
  wandb_log: True
  project_name: None # 'Test-project' # 'Test-project'  'Mandible-tracking'
